.tw-avatar {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background-color: gray;
  border: 2px solid white;
  &.sm {
    height: 2rem;
    width: 2rem;
  }
  &.lg {
    height: 3rem;
    width: 3rem;
  }
  &.xl {
    height: 3.5rem;
    width: 3.5rem;
  }
  &.xxl {
    height: 4.5rem;
    width: 4.5rem;
  }
}
