.tw-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border-bottom: $hairline;
  &.home {
    color: $primary;
    border-bottom: none;
  }
  &--left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    &-title {
      font-weight: 500;
    }
  }

  &-container {
    background-color: white;
    &.sticky {
      position: sticky;
      top: 0;
      z-index: 2;
      transition: 0.3s all;
    }
    &.sticky-up {
      position: sticky;
      top: -100%;
      z-index: 2;
      transition: 1s all;
    }
  }
}
