.tw-login {
  &-header {
    &.login {
      padding: $padding-border;
      color: $primary;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-body {
    padding: $padding-border;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &-title {
    font-size: 24pt;
    font-weight: 700;
    color: black;
  }
}
