.tw-navigation {
  &-container {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: white;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: lightslategray;
  }
  &-item {
    &-active {
      color: cornflowerblue;
    }
  }
}
