.tw-search {
  input {
    width: 100%;
    height: $font-size-medium;
    font-size: $font-size-normal;
    border-radius: 1rem;
    border: $hairline;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $secondary;
    &:focus-visible {
      outline: none;
    }
  }
  &-header {
    display: flex;
    gap: 1rem;
  }
  &-result {
    &--users {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &--user {
      &-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        &-detail {
          display: flex;
          flex-direction: column;

          .description {
            width: 16rem;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .tw-header {
    justify-content: end;
    &--right {
      width: 90%;
    }
  }
}
