div.tw-tweet:last-child {
  margin-bottom: $navigation-height;
}
.tw-compose-tweet .tw-tweet:last-child {
  margin-top: $navigation-height * 0.3;
  margin-bottom: unset;
}
.tw-tweet {
  display: flex;
  gap: 0.5rem;
  padding: 0rem 1rem;
  &-has-reply {
    position: relative;
    width: 2px;
    background-color: $secondary-dark;
    content: "";
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
  }
  &-profile {
    display: flex;
    flex-direction: column;
  }
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: $dark;
  }
  &-fill-content {
    text-align: left;
    & p {
      margin: 0;
    }
  }
  &-username,
  &-time-diff,
  .tw-dot-separator {
    color: lightslategray;
  }
  &-display-name {
    font-weight: 500;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    &--left {
      display: flex;
      gap: 0.4rem;
      align-items: center;
    }
    &--right {
      display: flex;
      align-items: center;
      & > * {
        transform: translateY(-50%);
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    &-item {
      &.like-active {
        color: $danger;
      }

      &.retweet-active {
        color: $success;
      }
      height: 1.5rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: $secondary-dark;
      &--count {
        font-size: small;
      }
    }
  }
}
